body{
    background: linear-gradient(45deg ,#8fc0ebfd , white);
}

.choice-container{
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1.7rem;
    border-radius: 2rem;
    border: 1px solid black;
    transition: 1s ease;

}
.choice-container:hover{
     
     transform: translateY(-0.2rem) scale(1.01) ;
}
.choice-letter{
    padding: 1.5rem 2.5rem;
    background-color: #56a5eb;
    color: white;
    border-radius: 2rem;
}
.choice-text{
    padding: 1.5rem;
    width: 100%;
}

h2{
    display: flex;
    font-size: 3.2rem;
    margin-bottom: 2em;
    justify-self: center;
    text-align: center;
}

.turn-home{
    position: absolute;
    color: #005eb0;
    font-size: 5rem;
    top: 3rem;
    left: 4rem;
}

.correct{
    border: 1.5px solid green;
    box-shadow: 0 0 30px rgb(0, 128, 0,0.5)
}
.incorrect{
    border: 2px solid red;
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.5)
}